html, body {
  min-height:100%;
  background-color:#121212;
}
.tab-content {
    min-height:100vh;
}

.nav-tabs > li.active > a > .fa {
  color:black;
}
.fa {
  color: white;
}

/* Gmail Calendar */
iframe {
    border: white;
    margin-left:2em;
    margin-top:1em;
    box-shadow: 0 0 5px 5px rgb(255, 255, 255);
    min-width:800px;
    min-height:600px;
    scrolling:no;
}

/* Calendar pulse button */
.connectCalendar .pulse-button .fa {
    color:black;
}

.connectCalendar .pulse-button {
  -ms-transform: scale(3,3);
  transform: scale(3,3);
  -o-transform: scale(3,3);
  -moz-transform: scale(3,3);
    
  margin: 20% 45% 0% 45%;
  border-color:grey;
  box-shadow: 0 0 0 0 rgba(136, 136, 136, 0.7);
  border-radius: 100%;
  vertical-align: middle;
  background: #fff;
  cursor: pointer;
  -webkit-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -o-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
  }
}
/* End of calendar pulse button */


/* Calendar Event Form */
form {
   max-width:20%;
   position:absolute;
   margin-top:-42%;
   margin-left:67%;
   color:white;
}
form .select {
    width:4em;
    color:black;
}
form .select select{
    width:4em;
    padding-bottom:0px;

}
#min{
    margin-top:-3.8em;
    margin-left:4.6em;
}
#ampm {
    margin-top:-6.7em;
    margin-left:9em;
}
#endhr{
    margin-top:-6em;
}
#endmin {
    margin-top:-8.9em;
    margin-left:4.6em;
}
#endampm {
    margin-top:-11.8em;
    margin-left:9em;
}

#calendarDescription {
    margin-top:-4.8em;
}
textarea {
    color:black;
}
.col-md-6 .input-group {
    padding-top:1.5em;
    width:15em;
}
.col-md-6 .input-group .form-control {
    height:2.4em;
}
#calendarSubmit {
    margin-top:1em;
    margin-left:-0.0em;
}
/* End of Calendar Event Form */